@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  @apply w-full h-full;
}

.header {
  height: 50px;
  box-shadow: 0px 1.2px 1px rgb(235 235 235);
  backdrop-filter: blur(50px);
}

.header p {
  padding: 0px;
}

.body {
  margin-top: 50px;
  height: calc(100vh - 50px);
  @apply overflow-hidden overflow-y-auto;
}

.controls {
  height: 50px;
}

.menu {
  height: calc(100vh - 50px);
}

.menu::-webkit-scrollbar {
  width: 0px;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.aside {
  width: 220px;
  animation-fill-mode: forwards;
}

.main {
  width: calc(100% - 220px);
  animation-fill-mode: forwards;
}

.titlebar-stoplight .titlebar-close,
.titlebar-stoplight .titlebar-minimize,
.titlebar-stoplight .titlebar-fullscreen {
  width: 12px !important;
  height: 12px !important;
}

.active li {
  @apply bg-active;
}

.menu-list a {
  @apply cursor-default;
}

.page-title {
  @apply text-xl font-medium tracking-wide;
}

.podcast-image {
  width: 250px;
  height: 250px;
}

.podcast-info {
  margin-left: 25px;
  width: calc(100% - 275px);
}

.img-confirm {
  height: 34px;
  align-items: center;
  width: 40px;
  justify-content: center;
}

.left-220 {
  left: 220px;
}

.snapod {
  opacity: 0;
  animation-fill-mode: forwards;
}
