@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  @apply w-full h-full;
}

.header {
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(100px);
  box-shadow: none;
  border-color: rgb(236, 236, 236);
}

.header p {
  padding: 0px;
}

.control {
  color: rgb(97, 97, 97);
}

.body {
  margin-top: 0px;
  padding-top: calc(50px + 1rem);
  height: 100vh;
  @apply overflow-hidden overflow-y-auto;
}

.controls {
  height: 50px;
}

.menu {
  height: calc(100vh - 50px);
}

.menu::-webkit-scrollbar {
  width: 0px;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.aside {
  width: 220px;
  animation-fill-mode: forwards;
  border-color: rgb(217, 217, 217);
}

.main {
  width: calc(100% - 220px);
  animation-fill-mode: forwards;
}

.active li {
  @apply bg-active;
}

.menu-list a {
  @apply cursor-default;
}

.page-title {
  @apply text-xl font-medium tracking-wide;
}

.podcast-image {
  width: 250px;
  height: 250px;
}

.podcast-info {
  margin-left: 25px;
  width: calc(100% - 275px);
}

.img-confirm {
  height: 34px;
  align-items: center;
  width: 40px;
  justify-content: center;
}

.left-220 {
  left: 220px;
}

.snapod {
  opacity: 0;
  animation-fill-mode: forwards;
}
